<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="CONSTR" value="Server=192.168.1.225;Database=DB01_Order_Engine;User Id=132012;Password=mt@1234;"/>-->
    <add key="CONSTR" value="Server=49.248.16.100;Database=DB01_Order_Engine;User Id=Appcon;Password=A$20#con@@;"/>
    <!--<add key="CONSTR" value="Server=192.168.1.199;Database=DB01_Order_Engine_KKC_NEW;User Id=vikram;Password=mt@1234;"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=1440;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="strConn" connectionString="Data Source=192.168.1.222,18553;Initial Catalog=DB01_Order_Engine;Persist Security Info=True;User ID=vikram;Password=mt@1234" providerName="System.Data.SqlClient"/>-->
    <!--<add name="strConn" connectionString="Data Source=192.168.1.199;Initial Catalog=DB01_Order_Engine_KKC_NEW;Persist Security Info=True;User ID=sa;Password=mtel#2016" providerName="System.Data.SqlClient"/>-->
    <!--<add name="strConn" connectionString="Data Source=192.168.1.220,18553;Initial Catalog=DB01_Order_Engine;Persist Security Info=True;User ID=pipl2013;Password=MtEdum@te2013" providerName="System.Data.SqlClient" />-->
    <add name="strConn" connectionString="Data Source=49.248.16.100;Initial Catalog=DB01_Order_Engine;Persist Security Info=True;User ID=Appcon;Password=A$20#con@@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpRuntime executionTimeout="1000" maxRequestLength="71200"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://49.248.16.100/Web_Ser/LoginService.asmx" binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap" contract="Login_Service.LoginServiceSoap" name="LoginServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>